@font-face {
    font-family: "monument";
    src: url(font/EDUMONUMENTGROTESK-REGULAR.OTF);
}

@font-face {
    font-family: "monumentItal";
    src: url(font/EDUMONUMENTGROTESK-REGULARITALIC.OTF);
}

@font-face {
    font-family: "monumentLight";
    src: url(font/EDUMONUMENTGROTESK-LIGHT.OTF);
}

*{
    padding: 0%;
    margin: 0%;
    font-family: "monument";
    font-weight: 400;
}

:root{
    --small: 18px;
    --small-line: 25px;
    --big: 28px;
    --big-line: 30px;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

model-viewer{
    position: fixed;
    width: 80vw;
    height: 80dvh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    font-size: var(--big);
    line-height: var(--big-line);
    padding: 0px 0px 5px 10px;
}

h1{
    font-size: 7vmax;
    line-height: 7vmax;
    overflow: hidden;
    z-index: -99;
    padding: 0px 10px 0px 10px;
    letter-spacing: -2px;
}

.titel{
    width: 100%;
    height: 100dvh;
}

#untertitel{
    position: absolute;
    bottom: 0px;
    right: 10px;
}

h2{
    font-family: "monumentLight";
}

p{
    font-size: var(--small);
    line-height: var(--small-line);
}

p:not(:first-of-type) {
    text-indent: 30px;
}

.info-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: white;
}

.text{
    padding: 0px 10px 5rem 10px;
    width: 100%;
    max-width: 560px;
}

.bilder{
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bilder img{
    width: 100%;
    filter: saturate(0.9) grayscale(0.3);
}